<div class="ten columns" id="form">


  <form name="mealDetails" ng-submit="addMeal(meal)">
    <legend><h4>Enter Details for Meal {{ meal.length }}:</h4></legend>
    <div class="row">
     <div class="twelve columns">
       <label for="price">Base Meal Price: $</label>
       <input class="u-full-width" type="text" placeholder="0.00" id="price" ng-model="meal.price">
     </div>
   </div>
   <div class="row">
     <div class="twelve columns">
       <label for="tax">Tax Rate: %</label>
       <input class="u-full-width" type="text" placeholder="0.00" id="tax" ng-model="meal.tax">
     </div>
   </div>
    <div class="row">
      <div class="twelve columns">
        <label for="tip">Tip Percentage: %</label>
        <input class="u-full-width" type="text" placeholder="0.00" id="tip" ng-model="meal.tip">
      </div>
    </div>
   <input class="button-primary" type="submit" value="Add Meal" >
   <input class="button" value="Cancel" ng-click="resetAll(meal)">
  </form>

</div>
