<div class="ten columns">
  <form name="mealDetails" ng-submit="addMeal()">
    <div class="row">
     <div class="six columns">
       <label for="exampleEmailInput">Your email</label>
       <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
     </div>

   </div>
   <label for="exampleMessage">Message</label>
   <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
   <input class="button-primary" type="submit" value="Submit">
  </form>
</div>
